<div >
  <div class = "errors">
    <% if @errors %>
      <% @errors.each do |msg| %>
      <%= msg %>
      <% end %>
    <% end %>
  </div>

  <h1>New Project</h1>
  <form action="/projects" method="POST">
    <div>Name:
    <input type="text" name="project[name]" value=<%=@project.name%>></div>
    <div>Organization:
    <input type="integer" name="project[organization_id]" value=<%=@project.organization_id%>></div>
    <div>Location:
    <input type="text" name="project[location]" value=<%=@project.location%>></div>
    <div>Begin Date:
    <input type="date" name="project[begin_date]" value=<%=@project.begin_date%>></div>
    <div>End Date:
    <input type="date" name="project[end_date]" value=<%=@project.end_date%>></div>
    <div>Details:
    <input type="textarea" name="project[details]" value=<%=@project.details%>></div>
    <input class="myButton" type="submit" value="Create Project">
  </form>
</div>
